/* Place CSS styles here */
:root{
  --pink:#d5acd1;
}
html {
  scroll-behavior: smooth;
}

body {
  color: white;
  /* distribute font to entire site */
  font-family: "ff-providence-sans-web-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  min-height: 100vh;
  background: url(../img/Paper-Texture-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow-x: hidden;
  background-attachment: fixed;
}

p,span{
  color:var(--pink);
  position:relative;
  z-index:10;
}

img {
  width: 100%;
  height: auto;
}

.container{
  width: 1112px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
}

.p1{
  text-align:center;

}

.p2{
  text-align:center;
}

.lyric1{
  display: flex;
  position: relative;
  overflow: visible;
  font-size: 74px;
  bottom: 209px;
  width: 561px;
  right: -28px;
  z-index: 10;
  fill: pink;
}

.lyric2{
  display: flex;
  position: relative;
  overflow: visible;
  font-size: 45px;
  bottom: 244px;
  width: 556px;
  left: 55px;
  z-index: 10;
  fill: pink;
}

.standpic{
  width: 188px;
  height: auto;
  position: relative;
  z-index: 10;
  bottom: 0.5em;
  left: 50%;
}

.invisibox{
}

.skew{
  transform: skew(0.1turn, 15deg);
  font-size: 78px;
  position: absolute;
  left: 31%;
  top: 80%;
}

.skew2{
  transform: skew(0.38turn, 15deg);
  font-size: 78px;
  position: absolute;
  left: 74%;
  top: 80%;
}

.step{
  width: 489px;
  height: auto;
  transform: rotate(332deg);
  position: relative;
  z-index: 10;
  bottom: 0.5em;
  right: 4%;
}

.squish{

}
/* phone */
@media screen and (max-width: 479px) {
  .standpic{
    width:150px;
  }
}

/* tablet */
@media screen and (min-width: 480px) and (max-width: 767px) {
  .standpic{
    width:200px;
  }
}

/* desktop */
@media screen and (min-width: 768px) and (max-width: 900px) {
  .standpic{
    width:205px;
  }
}

 