/* Place CSS styles here */
html {
  scroll-behavior: smooth;
}

body {
  color: purple;
  /* distribute font to entire site */
  font-family: 'Merriweather', serif;
  background-color: #ddd;
}

img {
  width: 100%;
  height: auto;
}

/* distribute font to all headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Karla', sans-serif;
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 5px 4px 7px #00c200;
}

h1 {
  font-size: 74px;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 64px;
  }
}

p {
  font-size: 20px;
  line-height: 1.4;
  background-color: #efefef;
}

.t-hidden {
  padding: 0;
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(1px,1px,1px,1px);
  -webkit-clip-path: inset(0 0 99.9% 99.9%);
  clip-path: inset(0 0 99.9% 99.9%);
  overflow: hidden;
  white-space: nowrap;
  border: 0;
}

/* header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* phone */
@media screen and (max-width: 479px) {
  .header {
    flex-direction: column;
  }
}

/* desktop */
@media screen and (min-width: 480px) {
  .header {

  }
}

.logo {
  max-width: 70px;
}

.main-nav {
  display: flex;
  gap: 8px;
}

/* main nav phone styles */
@media screen and (max-width: 479px) {
  .main-nav {
    width: 100%;
    justify-content: space-between;
  }
}

/* homepage */
.tom-and-jerry-wrapper {
  max-width: 800px;
  margin: 0 auto;
  border: 1px solid #999;
  border-radius: 12px;
  padding: 12px 24px;
}

.tom-and-jerry-enter-image {
  text-align: center;
}

.tom-and-jerry-ups-image {

}

.tom-and-jerry-ups-image img {
  border: 4px solid red;
  padding: 20px;
  margin: 20px;
}

h1 {
  color: red;
}

span {
  color: #00c200;
}



/* .cat-capn-crunch {
  background-color: pink;
} */

a {
  color: brown;
}

a:hover {
  color: green;
}

.tom-and-jerry-center {
  text-align: center;
}

.val-header,
.purple-intro-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
  background-color: #dedede;
}

.purple-red-wrapper {
  border: 1px solid red;
  display: flex;
  gap: 20px;
}

.purple-red-inside-parent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.purple-red-featured-image img {
  width: 400px;
}

.purple-red-item {
  display: flex;
}

.purple-red-item img {
  width: 150px;
}

.purple-intro-subwrapper {
  display: flex;
  align-items: center;
}

.val-header1 {
  text-align: center;
}

.val-header1 nav {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.val-featured-image {
  min-height: 300px;
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../img/giz2.jpg);
  /* These 3 rules are normally used in sets for centered background-images */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.val-intro {
  background-color: pink;
  text-align: center;
}

.val-smaller-image {
  width: 20%;
}

.val-row-3-tiles {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 12px;
}

.val-row-catalog-item {
  display: flex;
  gap: 20px;
}

footer {
  display: flex;
  justify-content: flex-end;
}

footer img {
  width: 40px;
}


/* MUSIC PAGE */

@media screen and (max-width: 767px) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) {
  .episodes {
    font-size: 14px;
  }
}

/* base */
.episodes {
  display: flex;
}

/* phone screen */
@media screen and (max-width: 767px) {
  .episodes {
    flex-direction: column;
  }
}

/* desktop screen */
@media screen and (min-width: 768px) {
  .episodes {
    flex-direction: row;
  }
}

.albums {
  display: flex;
  gap: 12px;
}

/* phone */
@media screen and (max-width: 479px) {
  .albums {
    flex-direction: column;
  }
}

/* tablet */
@media screen and (min-width: 480px) and (max-width: 767px) {
  .albums {
    background-color: red;
  }
}

/* desktop */
@media screen and (min-width: 768px){

}

.album {

}

/* PSEUDO-ZEN */
button {
  cursor: pointer;
}

.primary-button {
  background-color: black;
  color: white;
}

.primary-button:hover {
  background-color: #666;
}

.primary-button:focus {
  box-shadow: 0 0 0 4px red;
}

.secondary-button {
  background-color: white;
  color: black;
}

.secondary-button:hover {
  background-color: #ddd;
}

.secondary-button:focus {
  box-shadow: 0 0 0 4px red;
}

.error-button {
  background-color: red;
  color: white;
}

.error-button:hover {
  background-color: darkred;
}

.error-button:focus {
  box-shadow: 0 0 0 4px red;
}

.disabled-button {
  cursor: not-allowed;
}

.disabled-button:focus {
  box-shadow: 0 0 0 4px red;
}

.primary-link {
  color: black;
}

.primary-link:hover {
  color: #666;
}

.primary-link:focus {
  box-shadow: 0 0 0 4px red;
}

.nav-link {
  text-decoration: none;
  font-weight: 600;
  border: 1px solid transparent;
}

.nav-link:hover {
  color: #666;
  border: 1px solid #666;
}

.nav-link:focus {
  box-shadow: 0 0 0 4px red;
}

.disabled-link {

}

.pseudo-form label,
.pseudo-form input,
.pseudo-form textarea {
  display: block;
}

.pseudo-form input,
.pseudo-form textarea {
  min-width: 400px;
  border: 1px solid gray;
  border-radius: 4px;
}

.pseudo-form input:hover,
.pseudo-form textarea:hover {
  border: 1px solid darkgray;
}

.pseudo-form input:focus,
.pseudo-form textarea:focus {
  box-shadow: 0 0 0 4px red;
}

/* END PSEUDO-ZEN */

/* CSS POSITIONING */
.positioning-star-wrapper {
  position: relative;
}

.positioning-star {
  width: 32px;
  position: absolute;
  top: 0;
  right: 0;
}

.positioning-star-1 {
  border: 1px solid red;
}

.positioning-star-2 {
  border: 1px solid blue;
}

.positioning-star-3 {
  border: 1px solid green;
}

.positioning-star-4 {
  border: 1px solid orange;
}
/* END CSS POSITIONING */
