/* Place CSS styles here */
html {
  scroll-behavior: smooth;
}

body {
  color: purple;
  /* distribute font to entire site */
  font-family: 'Merriweather', serif;
}

/* distribute font to all headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Karla', sans-serif;
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 5px 4px 7px #00c200;
}

h1 {
  font-size: 64px;
}

p {
  font-size: 20px;
  line-height: 1.4;
  background-color: #efefef;
}

/* homepage */
div {
  max-width: 800px;
  margin: 0 auto;
  border: 1px solid #999;
  border-radius: 12px;
  padding: 12px 24px;
}



h1 {
  color: red;
}

span {
  color: #00c200;
}



/* .cat-capn-crunch {
  background-color: pink;
} */

a {
  color: brown;
}

a:hover {
  color: green;
}

.tom-and-jerry-center {
  text-align: center;
}
